target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

**/mvnw
**/mvnw.cmd

**/.mvn
**/.target/

.idea

**/.gitignore
**/.iml

**/mall-ui.code-workspace
/mall.iml
/mall-auth-server/mall-auth-server.iml
/mall-cart/mall-cart.iml
/mall-common/mall-common.iml
/mall-coupon/mall-coupon.iml
/mall-gateway/mall-gateway.iml
/mall-member/mall-member.iml
/mall-order/mall-order.iml
/mall-product/mall-product.iml
/mall-search/mall-search.iml
/mall-seckill/mall-seckill.iml
/mall-third-party/mall-third-party.iml
/mall-ware/mall-ware.iml
/mall-admin/mall-admin.iml
/mall-generator/mall-generator.iml
